services:
  pointllm:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        UID: ${UID}  # Pass UID from environment variables or .env file
        GID: ${GID}
    image: vladislavdiuzhev/pointllm-demo
    container_name: pointllm
    ports:
      - "7810:7810"
    volumes:
      - .:/app
    runtime: ${DOCKER_RUNTIME:-nvidia}
    user: "${UID}:${GID}"
    environment:
      - NVIDIA_VISIBLE_DEVICES=${NVIDIA_VISIBLE_DEVICES:-all}
      - UID=${UID}
      - GID=${GID}
      - START_CPU=${START_CPU:-}
    command: ["/app/app.sh"]
