version: "3.9"

services:
  pointllm:
    build:
      context: .
      dockerfile: Dockerfile
    image: pointllm
    container_name: pointllm
    ports:
      - "7810:7810"   # hostPort:containerPort
    volumes:
      - .:/app      
    runtime: nvidia  # This allows GPU access
    # Optional: specify GPU count if needed, 'all' grants access to all GPUs
    environment:
      - NVIDIA_VISIBLE_DEVICES=all  # Grants access to all GPUs (you can specify a GPU ID, e.g., 0, 1, etc.)
    command: ["/app/app.sh"]