services:
  pointllm:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        UID: ${UID}  # Pass UID from environment variables or .env file
        GID: ${GID}
    image: pointllm
    container_name: pointllm
    ports:
      - "7810:7810"
    volumes:
      - .:/app
    runtime: nvidia
    user: "${UID}:${GID}"
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - UID=${UID}
      - GID=${GID}
    command: ["/app/app.sh"]
